Todays task :
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file 
        
        shivan@ineuron.ai
        sudhashu@ineuron.ai

q1 : Try to print a prime number in between 1 to 1000

In [27]:
# prime numbers are divisible by 1 and itself and all
i=int(input("enter the number"))

if i== ('3') or ('5') or ('7'):
    print("number is not prime!")
elif i%i==0 and i%1==0 and (i%2==0 or i%3==0 or i%4==0 or i%5==0 or i%6==0 or i%7==0 or i%8==0 or i%9==0):
    print("number is prime",i )
else:
    print("number is not prime")

enter the number4
number is not prime!

In [22]:
12

12

q2 : Try to write a function which  is equivalent  to print function in python

In [ ]:
return

In [28]:
def sum(a,b):
    print(a+b)

In [30]:
a=sum(6,7)

13

In [31]:
7+a

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [32]:
def sum(a,b):
    return (a+b)

In [34]:
x=sum(4,7)

In [35]:
x

11

In [36]:
x+3

14

 q3 : Try to write a function which is a replica of list append , extend and pop function

In [44]:

def append():
    l=[]
    for i in range(9):
        l=[i]

In [45]:
append(4)

TypeError: append() takes 0 positional arguments but 1 was given

In [ ]:
q4 : Try to write a lambda function which can return a concatination of all the string that we will pass

In [53]:
a=lambda x,y: str(x)+str(y)

In [54]:
a

In [55]:
a(3,4)

'34'

In [56]:
a("kjhjk",0)

'kjhjk0'

In [ ]:
q5 : Try to write a lambda function which can return list of square of all the data between 1-100

In [61]:
x=lambda x:[i**2 for i in range(101)]

In [65]:
x(100)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

# q6 : Try to write a 10 Different different example of lambda function with a choice of your taks

In [67]:
w=lambda x:(x**2)+2*x

In [68]:
w(6)

48

In [69]:
g=lambda x,u:x/u

In [71]:
g(8,4)

2.0

In [72]:
h=lambda x:"my name is shristi"

In [73]:
h

In [75]:
h(3)

'my name is shristi'

In [77]:
h=lambda j:"hello"

In [78]:
h(i)

'hello'

In [79]:
o=lambda str(x):"yes its string"

SyntaxError: invalid syntax (Temp/ipykernel_15508/3934166317.py, line 1)

 q7 : Try to wwrite a funtion which can perform a read operation from .txt file

In [81]:
pwd()

'C:\\Users\\Shristi\\Desktop\\Data Science\\live_class\\python_developer'

In [82]:
f=open("hi.txt","w+")

In [83]:
f.write("hi i am shristi")

15

In [84]:
f.read()

''

In [85]:
f.seek(0)

0

In [86]:
f.read()

'hi i am shristi'