In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

In [8]:

for i in range(4):
    print("ineuron "*(i+1))

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [16]:
n=4
for i in range(n):
    print("    "*(n-i)+" ineuron "*i)
for i in range(n):
    print("    "*i + " ineuron "*(n-i))

             ineuron
         ineuron  ineuron
     ineuron  ineuron  ineuron
 ineuron  ineuron  ineuron  ineuron
     ineuron  ineuron  ineuron
         ineuron  ineuron
             ineuron

In [54]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) ,7, {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [55]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [56]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [57]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [58]:
for i in l:
    if type(i)==dict:
        print(i)
        for j,k in i.items():
            if type(j)==int or type(k)==int:
                print(j,k)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
3 6
7 8

In [80]:
for i in l:
    if type(i)==dict:
        print(i)
        for j in i.items():
            print(j)
            for k in j:
                print(k)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
('k1', 'sudh')
k1
sudh
('k2', 'ineuron')
k2
ineuron
('k3', 'kumar')
k3
kumar
(3, 6)
3
6
(7, 8)
7
8

In [78]:
for i in l:
    if type(i)==str or type(i)==list or type(i)==tuple or type(i)==set :
        for j in i:
            if type(j)==int:
                print (j)
    if type(i)==dict:
        for j in i.items():
            print(j)
            for k in j:
                if type(k)==int:
                    print(k)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
('k1', 'sudh')
('k2', 'ineuron')
('k3', 'kumar')
(3, 6)
3
6
(7, 8)
7
8

In [161]:
l1=[]
for i in l:
    if type(i)==str or type(i)==list or type(i)==tuple or type(i)==set :
        for j in i:
            if type(j)==int:
                print (j)
                l1.append(j)
    if type(i)==dict:
        for j in i.items():
            print(j)
            for k in j:
                if type(k)==int:
                    
                    l1.append(k)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
('k1', 'sudh')
('k2', 'ineuron')
('k3', 'kumar')
(3, 6)
(7, 8)

In [162]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [163]:
for i in l:
    print(i)

[1, 2, 3, 4]
(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)
{45, 4, 5, 23}
7
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
['ineuron', 'data science ']

In [164]:
sum=0
for i in l1:
    sum=sum+i
print(sum)

156

In [160]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [166]:
mult=1
for i in l1:
    mult=mult*i
print(mult)

908605071360000

In [111]:
sum=sum2=0

for i in l:
    if type(i)==list or type(i)==tuple or type(i)==str or type(i)==set:
        for j in i:
            if type(j)==int:
                sum=sum+j
                
for i in l:
    if type(i)==dict:
        for k in i.items():
            for m in k:
                if type(k)==int:
                    sum2=sum2+k
print(sum)
print(sum2)

132
0

In [113]:
sum=sum2=0

for i in l:
    if type(i)==list or type(i)==tuple or type(i)==str or type(i)==set:
        for j in i:
            if type(j)==int:
                sum=sum+j
                
for i in l:
    if type(i)==dict:
        print(i)
        for j in i.items():
            print(j)
            for k in j:
                print(k)
                sum2=sum2+k
                
print(sum)
print(sum2)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
('k1', 'sudh')
k1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [107]:
for i in l:
    if type(i)==dict:
        print(i)
        for j in i.items():
            print(j)
            for k in j:
                print(k)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
('k1', 'sudh')
k1
sudh
('k2', 'ineuron')
k2
ineuron
('k3', 'kumar')
k3
kumar
(3, 6)
3
6
(7, 8)
7
8

In [60]:
sum=0
for i in l:
    if type(i)==int:
        sum=sum+i
        print (sum)

7

In [115]:
l2=[]
for i in l:
    if type(i)==str or type(i)==list or type(i)==tuple or type(i)==set :
        for j in i:
            if type(j)==int:
                print (j)
                l2.append(j)
    if type(i)==dict:
        for j in i.items():
        
            for k in j:
                if type(k)==int:
                    print(k)
                    l2.append(k)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [116]:
l2

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [119]:
l3=[]
for i in l2:
    if i%2==0:
        l3.append(i)

In [120]:
l3

[2, 4, 2, 4, 6, 4, 6, 4, 6, 8]

In [125]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) ,7, {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [128]:
for i in l:
    if type(i)==tuple or type(i)==str or type(i)==list:
        for k in i:
            if k=="ineuron":
                print(k)
                print(i)

ineuron
['ineuron', 'data science ']

In [124]:
n

' '

In [133]:
## q10 :Try to find out a number of occurances of all the data 

for i in l:
    print(i  , ":" , l.count(i)) 
    for j in i:
        print(j, ":", i.count(j))

[1, 2, 3, 4] : 1
1 : 1
2 : 1
3 : 1
4 : 1
(2, 3, 4, 5, 6) : 1
2 : 1
3 : 1
4 : 1
5 : 1
6 : 1
(3, 4, 5, 6, 7) : 1
3 : 1
4 : 1
5 : 1
6 : 1
7 : 1
{45, 4, 5, 23} : 1

AttributeError: 'set' object has no attribute 'count'

In [134]:
for i in l2:
    print(i  , ":" , l2.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
45 : 1
4 : 4
5 : 3
23 : 1
3 : 4
6 : 3
7 : 2
8 : 1

In [135]:
## q11 : Try to find out number of keys in dict element

for i in l:
    if type(i)==dict:
        print(i.keys())

dict_keys(['k1', 'k2', 'k3', 3, 7])

In [149]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 7,
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [152]:
##q12 : Try to filter out all the string data 
l5=[]
for i in l:
    if type(i)==str:
        l5.append(i)
        if type(i)==tuple or type(i)==list:
            for j in i:
                if type(j)==str:
                    l5.append(j)

In [151]:
l5

[]

In [153]:
l1=[]
for i in l:
    if type(i)==str or type(i)==list or type(i)==tuple or type(i)==set :
        for j in i:
            l1.append(j)
    if type(i)==dict:
        for j in i.items():
            print(j)
            for k in j:
                l1.append(k)

('k1', 'sudh')
('k2', 'ineuron')
('k3', 'kumar')
(3, 6)
(7, 8)

In [154]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [167]:
## q13 : Try to Find  out alphanum in data

l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 7,
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]